:root {
    --primary-color: #2b5876;
    --secondary-color: #4e4376;
    --weak-color: #fc8181;
    --meduim-colr: #fbd38d;
    --strong-color: #68d391;
    --text-color: #fff;
    --bordergray-color: #606162;
    --whiteshade-color: #f9f9fa;
    --button1-color: #176189;
    --button2-color: #099ded;
    --button1-hovercolor: #506d7c;
    --button2-hovercolor: #74b2d4;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    min-height: 100dvh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(135deg, var(--primary-color), var(--secondary-color));
}

.main-container {
    background: var(--text-color);
    width: 30%;
    height: auto;
    padding: 1.5rem;
    border-radius: 1rem;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
}

h1 {
    text-align: center;
    font-size: 2rem;
    margin-top: 1.5rem;
    color: var(--primary-color);
    position: relative;
}

h1::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 65%;
    height: 3px;
    transform: translateX(-50%);
    background: var(--primary-color);
}

.options-container {
    padding: 1rem;

}

.input-group {
    margin-top: 1.2rem;
    width: 100%;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 8px;
    border: 1px solid var(--bordergray-color);
    background: var(--whiteshade-color);
   
}

.input-group input{
    width: 100%;
    margin: 0;
    padding: 0;
    font-size: 1.2rem;
    color: #626975; 
    font-weight: 400;
    border: none;
    background: var(--whiteshade-color);
}

input[type="range"] {
    accent-color: var(--button1-hovercolor);
    height: 4px;
    cursor: pointer;
    flex: 1;
}

input[type="range"]:hover {
    accent-color: var(--button2-color);
    cursor: pointer;
}

input[type="checkbox"]{
    accent-color: var(--button1-hovercolor);
    width: 20px;
    height: 20px;
    box-shadow: inset 0 4px 6px rgba(0, 0, 0, 0.2);
    transition: all 0.15s ease;
}

input[type="checkbox"]:hover{
    accent-color: var(--button2-color);
    cursor: pointer;
    box-shadow: inset 0 4px 6px rgba(0, 0, 0, 0.2);
    transition: all 0.1s ease;
}

input[type="checkbox"]:checked {
    transition: all 0.15s ease;
}

#copy-btn {
   cursor: pointer;
   font-size: 1,1rem;
   columns: #718096;
   width: 35px;
   height: 35px;
   display: flex;
   align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.slicer-input{
    margin-top: 1.5rem;
    width: 100%;
    position: relative;
}

.range-container {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 0;
    top: 2px;
}

/* .range-container  span {
    position: absolute;
    right: 0;
}

.range-container input {
    width: 50%;
    position: absolute;
    left: 0;
    
} */


.slicer-input label {
    font-size: 1rem;

 }

.checkbox-groups {
    margin-top: .9rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.checkbox-groups lable {
    font-size: 1rem;
}

button {
    width: 100%;
    font-size: 1.2rem;
    padding: 8px;
    background: linear-gradient(135deg, var(--button1-hovercolor), var(--button2-hovercolor) );
    color: var(--text-color);
    margin: 1rem 0;
    border: none;
    border-radius: 8px;
    box-shadow:inset 0 5px 8px rgba(0, 0, 0, 0.2);
    transition: all 0.2s ease;
}

button:hover {
    cursor: pointer;
    background: linear-gradient(135deg, var(--button1-color), var(--button2-color));
    box-shadow: inset 0 5px 8px rgba(0, 0, 0, 0.2);
}

button:active {
    transform: scale(0.9);
}

.strength-container {
    margin-top: 0.8rem;
}

.strength-container p{
    display: flex;
    justify-content: space-between;
    font-size: 0.9rem;
    font-weight: 500;
    color: #4a5568;
}

#strenght-label {
    font-weight: 600;
    color: var(--button2-color);
}

.strength-meter {
    height: 10px;
    width: 100%;
    border-radius: 5px;
    background-color: #edf2f7;
    margin-top: 8px;
    overflow: hidden;
    box-shadow: inset 0 2px 3px rgba(0, 0, 0, 0.15);
}

.strength-bar {
    height: 100%;
    border-radius: 5px;
    min-width: 5%;
    width: 0;
    background: var(--weak-color);
    box-shadow: inset 0 2px 3px rgba(0, 0, 0, 0.15);
    transition: all 0.3s ease;
}



