*{
    /* margin: 0; */
    padding: 0;
    box-sizing: border-box;
    font-family: Poppin, sans-serif;
}

body {
    background-color: azure;
    overflow-x: hidden;
    height: 100dvh;
    width: 100vw;
    margin: 0;
    padding:1rem;
}

.container {
    display:block;
    margin: 10% 10%;
    height: 70vh;
}

h1 {
    text-align: center;
}

.board {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 20rem ;
   

}

.list {
    position: relative;
    background-color: #aaabab;
    border-radius: 1rem;
    height: 90%;
    width: 17rem;
    box-shadow: 5px 0px rgba(0, 0, 0, 0.1);

}

h2{
    text-align: center;
    font-weight: 700;
    color: #555;
}
.card{  
    background-color: #fff;
    color: #424242;
    margin:7px .5rem;
    padding: 6px 3px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    cursor: grab;
    transition: transform .2s ease;

}

.card:active{
    cursor: grabbing;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    transform: scale(1.04);
}

.seat{
    position: absolute;
    bottom: -3px;
    left: -4%;
    border-radius: 8px;
    background-color: #ec934f;
    height: 2rem;
    width: 108%;
    box-shadow: 3px 8px rgba(0, 0, 0, 0.1);
}

.list.over {
    background-color: #d1d3d8;
}

@media(max-width:768px){
    .board{
        flex-direction: column;
        align-items: center;

    }

    .list {
        width: 80%;
        margin-bottom: 20px;
    }
}